nav>ul{
    display: flex;
}

nav li{
    list-style-type: none;
    margin-right: 1em;
    margin-bottom: 1em;
}

nav li a{
    text-decoration: none;
    color: black;
}

.dropdown{
    position: absolute;
    background-color: khaki;
    display: none;
}
nav>ul>li:hover>.dropdown{
    display: block;
}
nav>ul>li:hover>.dropdown.mega-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 50px;
}
.mega-menu h3{
    font-size: 16px;
    color: goldenrod;
    margin-bottom: 0px;
}